.logos-header{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.right-logo img{
    width: 100px;
    height: auto;
}

.left-logo img{
    width: 100px;
    height: auto;
}

.header-text p{
    color: blue;
    font-size: larger;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.boarder{
    border-bottom-color: blue;
    border-style:groove;
    border-top-style: none;
    height: 100px;
}

/* css for front image of organisation*/
.container-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    padding: 0;
    margin: 0;
    
}

/* css of front about section and members number*/
.box1{
    border: 1ps solid;
    height: fit-content;
    width: 100%;
    text-align: center;
}

.inner-box{
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    height: fit-content;
    width: auto;
    padding: 10px;
    margin: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* the header words*/
.logo-text{
    color: blue; font-weight: bold;
    font-size: 15px;
    text-align: center;
}

/* body styling */
body{
    background-image: url('/static/blog/img/water2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* About texts in about page */
#About-texts{
    font-family: sans-serif;
    font-size: larger;
    padding: 10px;
    padding-left: 8px;
    text-align:left;
}

/* removing links decorations */
a{
   text-decoration: none; 
}

/* The menu bar css */
.menu{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:blue ;
    overflow: hidden;
    /* display: none;
    list-style: none;
    padding: 0; */
}

/* .menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    margin: 20px;
} 

 .navbar {
    background-color: #555;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.sub-menu {
    display: none;
}

@media screen and (max-width:768px) {
    .menu-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }

    .navbar ul li {
        width: 100%;
    }

    .navbar ul li a {
        text-align: left;
    }

    .sub-menu {
        display: block;
    }
} */

li.menu-item {
    float: left;
}
li.menu-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li.menu-item a:hover {
    background-color: #555;
}
.header {
    background-color:blue;
    color: white;
    text-align: center;
    padding: 10px;
}
.About-box{
    margin: 15px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    width: auto;
}

/* Style for the footer */
footer {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style for the contact links */
.contact-info a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.contact-info a:hover {
    text-decoration: none;
    color: black;
}

/* styling for leaders page */
#Locate-center {
    text-align: center;
}

.leader-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.leader-avatar {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.leader-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-item {
    margin-bottom: 5px;
}

.post-group{
    margin-bottom: 20px;
    margin-left: 45px;
    margin-right: 45px;
    border: 1px solid black;
    border-radius: 0;
    padding: 5px;
    background-color: #f9f9f9;
    height: 50%;
    
}

/* Style for built-in form */

input[type = 'text'], [type = 'url'], [type = 'email'], [type = 'character'] {
    width: 50%;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

button[type ='submit']{
    border-radius: 5px;
    margin: 25px;
    width: 100px;
    border: 1px solid black;
}

label {
    font-weight: bold;
    margin: 25px;
}

/* Logo on post */

.logo-on-post {
    position: relative;
}



