{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% block title %} <head><title>About</title></head> {% endblock%}
<div class="About-box">
<h1 style="color: blue;">About Us</h1>
<p id="About-texts">
    The IPCWASH MUHAS organisation for students of Environmental Health is a non-profit organisation
    dedicated to promoting and advancing the principles of Infections Prevention and Control(IPC) and
    Water, Sanitation, and Hygiene (WASH) among students pursuing studies in environmental health.
</p>

<h1 style="color: blue;">Short History</h1>
<p id="About-texts">
    Ipcwash was established in 2020 and it was known as WASH club not until 2022 when it was renamed to IPCWASH as per
    expansion of club’s scope. On 2021, the club participated in various health education activities in collaboration
    with partners like SOHIC-muhas.
</p>

<p id="About-texts">
    It was an awareness campaign done in Azania Secondary School. On 2022,the club further expanded its partnership to
    medical students association at MUHAS ie TAMSA in a project named <b>Afya yangu project</b> which dealt more with sexual
    and reproductive health in the five selected public secondary schools in Ilala-Dar es salaam.
</p>

<p id="About-texts">
    The club also hosted a zoom/ webinar meeting with a comprehensive theme and invited public health students from
    universities in Tanzania(SUZA &RUCO) and MUCOHEAS(Makerere Univer Colledge of Health and Allied Science in Uganda).
</p>

<p id="About-texts">
    Not until 2023, IPCWASH has so far had three different terms of office(leadership batches) since it was first
    established,the current leadership inclusive. We are looking foward to further partneship and collaboration with
    other interested associations.
</p>
</div>
{% endblock %}