{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    
</head>
<body>
    <header class="logos-header">

    <div class="left-logo">
        <img src="{% static 'blog/img/muhas.jpg' %}" alt="muhas">
    </div>
    

    <div class="header-text">
        <p>Infections Prevention And Control, Water Sanitation And Hygiene Organisation</p>
        <p>Muhimbili University Of Health And Allied Science</p> <br>
    </div>

    <div class="right-logo">
        <img src="{% static 'blog/img/logo.jpg' %}" alt="IPCWASH">
    </div>
    
    </header>

    <div class="header">
        <div class="menu">
        {% block menu %}
        <ul class="menu">
            <li class="menu-item"><a href="{% url 'blog:home' %}">Home</a></li>
            <li class="menu-item"><a href="{% url 'blog:about' %}">About</a></li>
            <li class="menu-item"><a href="{% url 'blog:leaders' %}">Leaders</a></li>
            <li class="menu-item"><a href="{% url 'blog:create_post' %}">Post</a></li>
            <li class="menu-item"><a href="{% url 'blog:create_leader' %}">Create Leader</a></li>
        </ul>
        {% endblock %}
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<footer>
    <h1>Contact Us</h1>
    <div class="contact-info">
        <a href="mailto:ipcwashmuhas@gmail.com"><i class="fas fa-envelope"></i> ipcwashmuhas@gmail.com</a>
        <a href="https://twitter.com/ipcwashclub?t=zcDSCAid1vFIc9hU8UIRJw&s=09" target="_blank"><i class="fab fa-twitter"></i> ipcwashmuhas</a>
        <a href="https://www.instagram.com/ipcwashmuhas" target="_blank"><i class="fab fa-instagram"></i> ipcwashmuhas</a>
        <a href="https://www.facebook.com/ipcwashmuhas" target="_blank"><i class="fab fa-facebook"></i> ipcwashmuhas</a>
        <a href="https://www.youtube.com/ipcwashclub2022" target="_blank"><i class="fab fa-youtube"></i> ipcwashmuhas</a>
    </div> <br>
    <p>&copy; 2023 IPCWASH-MUHAS Organisation</p>
</footer>

</body>
</html>



