{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% block title %} <title>Create Post</title>{% endblock %} <br>
    <!-- Other navigation links or elements go here -->

<div class="container mt-4">
    <h1>Create a New Post</h1>
    
    <!-- Create a form for superusers to create new posts -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <b>{{ form.as_p }}</b>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</div>
{% endblock %}
