{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% block title %} <head><title>Home</title></head> {% endblock%}

<div>
    <img class="container-img" src="{% static 'blog/img/wash.jpg' %}" alt="wash" >
</div>

<div class="box1"> <br>
    <div class="inner-box">
        <a href="{% url 'blog:about' %}"><p><h1>About Us</h1></p></a>
        <p id="About-texts">
            The IPCWASH MUHAS organisation for students of Environmental Health is a non-profit organisation 
            dedicated to promoting and advancing the principles of Infections Prevention and Control(IPC) and 
            Water, Sanitation, and Hygiene (WASH) among students pursuing studies in environmental health.
        </p>
    </div> <br>
</div>

<div class="box1"> <br>
    <div class="inner-box">
        <p><h1>Total Members</h1></p>
          <h2><p style="font-size: larger; color: blue;"> 200+</p></h2>
    </div> <br>
</div>
  
      <!-- Display user posts in a loop -->

  {% for post in posts %}
  <div class="post-group">
    <div class="post">
      <p>
      <div class="logo-on-post">
        <img src="{% static 'blog/img/logo.jpg' %}" alt="IPCWASH" style="width: 80px;height: 80px; position: absolute; top: 0; left: 0; margin-bottom: 50px;"> <br>
      </div> <br>
      </p> <br>
      <hr>

      <p>{{ post.content }}</p> <br>
      {% if post.file %}
      {% if ".mp4" in post.file.name|lower %}
          <video controls style="width: 100%; height: 30%;">
            <source src="{{ post.file.url }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        {% else %}
          <img src="{{ post.file.url }}" alt="Image" style="width: 100%; height: 30%; object-fit: cover;">
        {% endif %}
      {% endif %}
    </div> <br>
    <p class="timestamp">Posted at: <b>{{post.timestamp}}</b></p>
  </div> <br>
  {% endfor %}  
{% endblock %}